<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="center col-sm-12">
                <div class="row">
                        <h1 class="text-dark">TASKS GO HERE</h1>
                        <p> Create a task for bills, groceries or chores</p>
                        <panel>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">

                            <!-- Pass in data from server.js -->
                            <ul>
                                {{#each tasks}}
                                <li>
                                    <p><span class="label">ID:</span> {{this.id}}</p>
                                    <p><span class="label">Task:</span> {{this.task}}</p>

                                    {{!-- need to define BILL/CHORE/GROCERY as cateogy --}}
                                    <p><span class="label">Category:</span> {{this.cateogry}}</p>

                                    <button data-id="{{this.id}}" class="deltask">Delete</button>

                                    <a href="/{{this.id}}">Update this task</a>
                                </li>
                                {{/each}}
                            </ul>

                            <h2>Add a task</h2>

                            <form class="create-form">

                                <div class="form-group">
                                    <label for="auth">Category:</label>
                                    <input type="text" id="auth" name="category">
                                </div>

                                <div class="form-group">
                                    <label for="task">task:</label>
                                    <textarea id="task" name="task" rows="8" cols="40"></textarea>
                                </div>

                                <button type="submit">Add task</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>