<tr>
    <td>{{chore}}</td>
    {{#each @root.groupMembers as |groupMember index|}}
      {{log groupMember}}
      {{log groupMember.dataValues.id}}
      {{#if (isUser groupMember.dataValues.id ../UserId)}}
      <td>{{groupMember.dataValues.name}}</td>
      {{log "user is the name here"}}
      {{/if}}
    {{/each}}

    <td>
        <a class="btn btn-sm btn-dark" href="/chore/{{UserId}}/{{id}}">Edit Chore</a>
    </td>
</tr>