<tr class="choreRow" data-creatorid={{UserId}} data-choreid={{id}}>
    <td class="choreColumn">
    {{#if (isUser @root.user.id UserId)}}
        <button class="removeChoreButton hideThis removeButton btn btn-sm btn-primary btn-danger mb-1">X</button>
    {{/if}}
      <span class="choreName">{{chore}}</span>
      <input type="text" class="choreNameEdit hideThis" value="{{chore}}">
      
    </td>
      <td>
        {{#if (isUser @root.user.id UserId)}}
        <label class="choreCompleteContainer">
            <input type="checkbox" class="choreComplete" {{#if complete}}checked{{/if}}>
            <span class="checkmark"></span>
        </label>
        {{else}}
            <label class="choreCompleteContainer">
            <input disabled type="checkbox" class="choreComplete" {{#if complete}}checked{{/if}}>
            <span class="checkmark"></span>
        </label>
        {{/if}}
    </td>
</tr>