<tr class="choreRow" data-creatorid={{UserId}} data-choreid={{id}}>
    <td class="choreColumn">
        <span class="choreName">{{chore}}</span>
        <input type="text" class="choreNameEdit hideThis" value="{{chore}}">
    </td>
    {{#each @root.groupMembers as |groupMember index|}}

      {{#if (isUser groupMember.dataValues.id ../UserId)}}
      <td>{{groupMember.dataValues.name}}</td>
      {{/if}}
    {{/each}}
    <td>
        {{#if (isUser @root.user.id UserId)}}
        <label class="choreCompleteContainer">
            <input type="checkbox" class="choreComplete" {{#if complete}}checked{{/if}}>
            <span class="checkmark"></span>
        </label>
        {{else}}
            <label class="choreCompleteContainer">
            <input disabled type="checkbox" class="choreComplete" {{#if complete}}checked{{/if}}>
            <span class="checkmark"></span>
        </label>
        {{/if}}
    </td>
  {{#if (isUser @root.user.id UserId)}}
  <td>
    <button class="removeChoreButton">X</button>
  </td>
  {{/if}}

</tr>