<tr>
  <td>{{billName}}</td>
  <td>{{amount}}</td>
  <td><a target="blank" href="{{fileUrl}}">
      <img src={{thumbUrl}} alt="bll-doc-thumb" />
    </a></td>

  {{#if (isUser @root.user.id UserId)}}

  <td>
    <a class="btn btn-sm btn-dark" href="/bill/{{UserId}}/{{id}}">Edit Bill</a>
  </td>
  {{/if}}

</tr>