<li>
{{billName}}
{{amount}}
<a target="blank" href={{fileUrl}}>
    <img src={{thumbUrl}} alt="billThumb"/>
</a>

{{#if (isUser @root.user.id UserId)}}
  <a href="/bill/{{UserId}}/{{id}}">Edit Bill</a>
{{/if}}
</li>