<tr class="groceryRow" data-creatorid={{UserId}} data-groceryid={{id}}>
  <td class="groceryColumn">
        {{#if (isUser @root.user.id UserId)}}
        <button class="removeGroceryButton hideThis removeButton btn btn-sm btn-primary btn-danger mb-1">X</button>
    {{/if}}
    <span class="groceryName">{{groceryName}}</span>
    <input type="text" class="groceryNameEdit hideThis" value="{{groceryName}}">
     </td>
  <td class="groceryColumn">
    <span class="groceryQuantity">{{quantity}}</span>
    <input type="text" class="groceryQuantEdit hideThis" value="{{quantity}}">
    </td>
</tr>